<!DOCTYPE html>
<html>
  <head lang="en">
  <meta char="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <script type="text/javascript" src="/students.js"></script>
  <title>Students</title>
</head>
<body id="container">
  <div class="container">
    <div class ="content">
    <header>
      <h1>Student Roster</h1>
    </header>
    <section>
        <%= yield %>
    </section>
    </div>
  <div>
</body>
</html>
